(cfg/defconfig {::oauth-secret {:info    "OAuth secret to validate token"
                                :require true
                                :secret  true}
                ::host         {:info    "Remote host for a dependency service"
                                :name    "SERVICE_NAME_HOST"
                                :require true}})